body {
  background: rgba($main-color, 0.04);
}

.form-control {
  border-color: $main-color;
  @include border-radius(0);
  font-size: 1.2em;
  height: 40px;

  &:focus {
    box-shadow: inset 0 1px 1px rgba($main-color, 0.075), 0 0 8px rgba($main-color, 0.6);
    border-color: $main-color;
  }
}

.btn-main {
  color: $text-color;
  background: $main-color;
  font-size: 1.3em;
  height: 40px;
  width: 100%;
  border: 0;
  @include transition(ease, 0.1s);
  @include border-radius(0);
  letter-spacing: 0.8px;
  text-transform: uppercase;
  outline: none;

  &:hover {
     background: rgba($main-color, 0.75);
   }
}

.flash-message {
  position: absolute;
  z-index: 20;
  top: 5%;
  left: 20%;
  right: 20%;
}
